<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/form.css"> <!-- Ensure correct path for CSS -->
</head>
<body>
    <% if (messages.length > 0) { %>
        <% messages.forEach(function(message) { %>
            <div class="alert alert-info"><%= message %></div>
        <% }) %>
    <% } %>
    <div class="login-form-container">
        <form class="login-form" action="/login" method="POST">
            <h2>Login</h2>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
